*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

*.iml
.idea/

.idea_modules/

.env

.scalafmt-ignore
.scalafmt.conf
mkmf.log

